*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 1.9rem;
    animation: color 3s linear infinite;
}
@keyframes color{
    0%{
        color: aqua;
    }
    10%{
        color: olivedrab;
    }
    20%{
        color: blanchedalmond;
    }
    30%{
        color: orangered;
    }
    40%{
        color: pink;
    }
    50%{
        color: orange;
    }
    60%{
        color: blue;
    }
    70%{
        color: burlywood;
    }
    80%
    {
        color: lightseagreen;
    }
    90%{
        color: lightcoral;
    }
    100%{
        color: lawngreen;
    }
}
.container{
    width: 100%;
    height: 105vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(45deg, rgb(80, 79, 79),rgb(116, 119, 119));
animation: left 5s linear infinite;
}
@keyframes left{
    0%{
        box-shadow: 0 0 8px #00dce7;
    }
    50%{
        box-shadow:0 0 25px #00dce7;
    }
    100%{
        box-shadow: 0 0 8px #00dec7;
    }
    }
.calculator{
margin-top: 1rem;
margin-bottom: 1rem;
background-color: rgb(255, 255, 255);
padding: 0.5rem;
border: 2px solid black;
border-radius: 2rem;
animation: left 5s linear infinite;
}

.red{
    color:orange;
}
input{
    width: 18rem;
    height: 3rem;
    /* background-color:transparent; */
    border-radius: 0.5rem;
    /* border: 2px solid white; */
    border: 2px solid black;
    /* margin-bottom: 1rem; */
    margin-left: 0.5rem;
    box-shadow: rgba(253, 253, 253, 0.35) 0px 5px 15px;
    margin-top: 1rem;
    text-align: right;
}
input::placeholder{
    font-size: 2rem;
    margin-left: 1rem;
    padding-bottom: 4rem;
text-align: right;
color: rgb(0, 0, 0);
/* border-right: 2px solid white; */

}
#display-screen{
    color:rgb(0, 0, 0) ;
    font-size: 2rem;
}
button{
    font-size:1rem;
    margin: 0.9rem 0.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 3rem;
    height: 3rem;
    border-radius:10rem;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}